.welcome-hero {
    position: relative;
    background: url('/static/images/login-background.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 90vh;
}

.welcome-hero:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.98) 100%);
    z-index: 2;
}

.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.welcome-hero-txt {
    text-align: center;
    padding: 290px 0 372px;
}

.welcome-hero-txt h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.welcome-hero-txt p {
    font-size: 18px;
    text-transform: initial;
    color: #fff;
    font-weight: 500;
    max-width: 735px;
    margin: 0 auto;
}

.welcome-btn {
    display: inline-block;
    width: 230px;
    height: 60px;
    background: transparent;
    color: #fff;
    border-radius: 3px;
    margin-top: 55px;
    transition: 0.3s linear;
}

.welcome-btn:hover {
    background: #0102fa;
}
