<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Inspection</title>
    <link rel="stylesheet" href="static/confirmation.css">
</head>
<body>
    <p id="fee" style="display: none;">{{ fee }}</p>
    <p id="service" style="display: none;">{{ service }}</p>
    <div class="confirmation-container">
        <p id="status-text">Đang lập hồ sơ...</p>
        <div id="loading-icon" class="spinner"></div>
        <div id="check-icon" class="check-mark">&#10003;</div>
    </div>

    <script>
        setTimeout(() => {
            document.getElementById("status-text").innerText = "Lập hồ sơ thành công!";
            document.getElementById("loading-icon").style.display = "none";
            document.getElementById("check-icon").style.display = "inline-block";

            const fee = document.getElementById('fee').innerText;
            const service = document.getElementById('service').innerText;

            const url = `{{ url_for('checkout') }}?fee=${encodeURIComponent(fee)}&service=${encodeURIComponent(service)}`;

            // Redirect to the next site after a short delay
            setTimeout(() => {
                window.location.href = url;
            }, 1500);
        }, 3000); // 3-second delay
    </script>
</body>
</html>
