<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Hóa Đơn</title>
    <link rel="stylesheet" href="../static/invoices.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <img src="../static/images/autostream_logo.jpg" alt="Logo" class="logo">
        <div class="navbar-links">
            <a href="{{ url_for('index') }}" class="nav-button">Trang chủ</a>
            <a href="{{ url_for('all_vehicles') }}" class="nav-button">Tìm kiếm xe</a>
            <a href="{{ url_for('login') }}" class="nav-button">Đăng nhập</a>
            <a href="{{ url_for('register') }}" class="nav-button">Đăng ký</a>
        </div>
    </div>

    <div class="invoice-container">
        <header>
            <h1>Danh Sách Hóa Đơn</h1>
        </header>
        
        <div class="invoice-table-container">
            <table class="invoice-table">
                <thead>
                    <tr>
                        <th>Số Hóa Đơn</th>
                        <th>Ngày Tạo</th>
                        <th>Nội dung</th>
                        <th>Tổng Tiền</th>
                        <th>Chi Tiết</th>
                    </tr>
                </thead>
                <tbody>
                    {% if invoices %}
                        {% for index, invoice in enumerate(invoices) %}
                            <tr>
                                <td>#{{ index + 1 }}</td>
                                <td>{{ invoice.created_date }}</td>
                                <td>{{ invoice.service }}</td>
                                <td>{{ invoice.fee }}</td>
                                <td><a href="{{ url_for('invoice_detail', invoice_index=index) }}"><button class="btn-view">Xem</button></a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <h3>Bạn chưa thực hiện giao dịch nào.</h3>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>AutoStream</h2>
                <p>Chuyên cung cấp các dòng xe cao cấp.</p>
            </div>
            <div class="footer-section contact">
                <h2>Liên hệ</h2>
                <p>Địa chỉ: 12 Nguyễn Sơn, Long Biên, TP. Hà Nội</p>
                <p>Email: contact@autostream.com</p>
                <p>Điện thoại: +84 959 558 885</p>
            </div>
            <div class="footer-section social">
                <h2>Kết nối với chúng tôi</h2>
                <a href="#"><img src="../static/images/facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="../static/images/instagram-icon.png" alt="Instagram"></a>
                <a href="#"><img src="../static/images/twitter-icon.png" alt="Twitter"></a>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 AutoStream | Tất cả quyền được bảo lưu.
        </div>
    </footer>

</body>
</html>


