<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify_identity</title>
    <link rel="stylesheet" href="../static/confirmation.css">
</head>
<body>
    <div class="confirmation-container" style="padding: 30px; background-color: rgb(180, 180, 180); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
">
        <p id="status-text" style="color: black;">Đang thực hiện xác thực</p>
        <p id="hint-text" style="padding-bottom: 15px;">Quy trình này có thể mất tới vài phút</p>
        <div id="loading-icon" class="spinner"></div>
        <div id="check-icon" class="check-mark">&#10003;</div>
    </div>

    <script>
        setTimeout(() => {
            document.getElementById("status-text").innerText = "Đăng ký tài khoản thành công!";
            document.getElementById("loading-icon").style.display = "none";
            document.getElementById("hint-text").style.display = "none";
            document.getElementById("check-icon").style.display = "inline-block";
            
            // Redirect to the next site after a short delay
            setTimeout(() => {
                window.location.href = "/login";
            }, 1500);
        }, 3000); // 3-second delay
    </script>
</body>
</html>
